<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <h2>
        Hello,<%= playerName %>! you played <%= playerChoice %>. 
    </h2>
    <h2>
        The computer chose <%= computerChoice %>
    </h2>
    <h1>
        <%= gameResult %>
    </h1>

    <a id="restart-link" href="/">Play Again!</a>
</body>

</html>